.recommendations {
    padding: 20px;
    color: white;
  }
  
  .movie-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-card {
    margin: 10px;
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 5px;
  }
  